*{
    margin: 0;
    padding: 0;
}
/*import utilities*/
/* @import url('utilities.css'); */
body{
 font-family: 'Cabinet Grotesk', sans-serif;
 font-weight: 400;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
p{
    font-size: 1.56rem;
}
label{
    margin-bottom: 50px;
}
input,textarea{
    outline: none;
    border: none;
    background: none;
    transition: border .1s cubic-bezier(.09, .85, .8, .22);
}
input:focus, textarea:focus{
    border: 2px solid #68598A;
}

button{
    outline: none;
    border: none;
    cursor: pointer;
}

.btn{
    transition: background .1s cubic-bezier(.09, .85, .8, .22);
}
.btn:hover {
    background: #1E1D22;
}
.icon{
    color: #cacaca;
    font-size: 2rem;
    transition: color .1s cubic-bezier(.09, .85, .8, .22);
    cursor: pointer;
}
.icon:hover{
    color: #68598A;
}

header{
    border-bottom: 1px solid #cacaca;
}
.nav-item li a {
    color: #fff;
    font-size: 1.25rem;
    transition: color .1s cubic-bezier(.09, .85, .8, .22);
}
.nav-item li a.active{
    font-size: 1.25rem;
    font-weight: 500;
    color: #68598A;
}
.nav-item li a:hover,.link li a:hover{
    color: #68598A;
}
.bar-trip{
    bottom: 0;
    right: 50%;
    transform: translate(50%,50%);
}
.link li{margin-bottom: 10px;}
.link li a{
    color: #cacaca;
    font-size: 20px;
}
.form-control{
    border-left: 1px solid rgba(202, 202, 202, 0.4);
    border-top: 1px solid rgba(202, 202, 202, 0.4);
    border-bottom: 1px solid rgba(202, 202, 202, 0.4);
}
.card-img img{
    transition:  .3s ;
}
.card-img img:hover{
    transform: scale(1.2);
}

